<%include ../partials/nav %>
<%include ../partials/msg %>


<div class="jumbotron">
	<h3>Add</h3>
	<form action="/index" method="POST">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" name="Name" placeholder="Full Name" required autofocus>
		</div>
		<div class="form-group">
			<label for="number">Mobile Number</label>
			<input type="" class="form-control" name="mobileNumber" placeholder="Mobile Number">
		</div>
		<div class="form-group">
				<label><input class="mr-2" type="radio" name="options" value="Birthday" checked>Birthday</label>
				<br>
				<label><input class="mr-2" type="radio" name="options" value="Anniversary" checked>Anniversary</label>
		</div>
		<div class="form-group">
			<label class="control-label" for="date">Date</label>
			<input class="form-control" id="date" name="DOB" placeholder="MM/DD/YYY" type="text" />
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</div>